
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .App{
      display: flex;
      flex-direction: column;
      height: 100vh;
  }
  
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 800px;
        height:150px;
        margin: 0 auto;
        background-image: url('../image/header-backg.jpg');
        background-size: contain;
        border-radius: 3px;
        background-attachment: fixed;
        position: relative;
    }
    #banner{
        color: white;
        width: 100%;
        margin: 0;
        padding: 3px;
        font-size: 30px;
        height: 75px;
        position: relative;
        background: inherit;
        overflow: hidden;
        z-index: 1;
        /* box-shadow: 0 5px 15px rgba(0,0,0,.5); */
        /* filter: blur(4px) */
    }
        #banner h4{
            margin-left: 8px;
        }
        #banner div{
            margin-left: 8px;
        }
    #banner:before{
        content: '';
        position: absolute;
        margin: -5px;
        top:0;
        left:0;
        right:0;
        bottom:0;
        box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
        filter: blur(3px);
        background: inherit;
        z-index: -1;
    }
    nav{
    background-color: #33488d;
    color: white;
    height: 37px;
    transition: color .2s ease;
    cursor: pointer;
    position: relative;
    
    }
    nav:before{
        position: absolute;
        content: '';
        left:0;
        top: 100%;
        border-top: 10px solid #333;
        border-right: 10px solid #333;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    nav:hover{
        color: tomato;
    }
    .menu-area{
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    .menu-area li {
        display: flex;
        align-items: center;
    list-style: none;
    
    }
    .menu-area li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
        margin-right: 20px;
        font-size: 14px;
        transition: background-color 0.2s;
        padding: 5px 10px;
    }
    .menu-area li a:hover{
        background-color: tomato;
    }

  content  {
      flex-grow: 1;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
  }
    footer{
        width: 800px;
        height: 40px;
        margin: 0 auto;
        background-color: #33488d;
        color: white;
    }
