content h2{
  color:#686868
}
#overall-results-wrap{
  border-top: 2px solid silver;
  border-bottom: 1px solid silver;
  border-right: 0;
  border-left: 0;
  margin-top: 10px;
}
#overall-results{
  width: 570px;
  margin: 0 auto; 
  margin: 15px 0;
}
#overall-results th{
  text-align: left;
  padding: 5px 0;
  color: #686868;
}
#overall-results td{
  padding: 5px 5px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
}
#overall-results td sup{
  font-size: 20px;
}
#overall-results td.confirmed{
  color: #4b4bb6;
}
  #overall-results td.confirmed sup{
    color: #747474;
  }
#overall-results td.recovered{
  color: #2c782c;
}
  #overall-results td.recovered sup{
    color: #747474;
  }
#overall-results td.deaths{
  color: #b02e2e;
}
  #overall-results td.deaths sup{
    color: #747474;
  }
