#overall-results{
  width: 500px;
  margin: 0 auto; 
  margin-top: 30px;
}
#overall-results .overall-confirmed-td{
    color: blue
}
#overall-results .overall-confirmed{
  background-color: #2a2a9b;
  color:white;
}
#overall-results .overall-recovered-td{
    color: green
}
#overall-results .overall-recovered{
  background-color: #2f6c2f;
  color:white;
}
#overall-results .overall-deaths-td{
  color: red
}
#overall-results .overall-deaths{
  background-color: #c22424;
  color:white;
}

#today-cases{
  background-color: #9E9E9E;
  color:white;
  width: 200px;
  margin:20px 0;
}
#today-cases div{
  padding: 5px 5px;
}