.pagination ul{
}
.pagination li {
  text-align: center;
    display: inline-block;
    width: 40px;
    color: black;
    padding: 8px 2px;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none
  }
  
  .pagination li.active {
    background-color: #33488d;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}